@charset "UTF-8";
/* IMPORTS */
/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #fcf6ed;
}

.contenedor-estilos-nav {
  width: 100%;
  height: 50px;
  position: fixed !important;
  z-index: 1;
}

header nav .container-fluid img {
  width: 150px;
  height: auto;
}

header nav .container-fluid {
  height: auto;
}

.navbar .navbar-collapse {
  justify-content: space-evenly;
  z-index: 10;
}

.navbar a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.1s;
  margin-right: 55px;
  position: relative;
  top: 30px;
}

.navbar a:hover {
  text-decoration: #c02924 overline;
  /* transform: scale(1.1); */
  color: #000000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.form-container, .social-media-container {
  flex: 1;
  margin-right: 10px;
}

h3 {
  margin-bottom: 10px;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input[type=email] {
  padding: 5px;
  margin-right: 5px;
  flex: 1;
}

button[type=submit] {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

.social-media-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-media-links li {
  margin-right: 10px;
}

/*
.social-media-links a {
    color: #fff;
    font-size: 20px;
} */
.social-media-links a {
  color: #ffffff;
  font-size: 50px;
  margin-left: 20px;
  transition: 0.3s;
}

.social-media-links a:hover {
  color: #ff5f8f;
}

.objeto-de-color-naranja {
  background-color: #ffac7c;
  color: #555;
}

.objeto-de-color-rosa {
  background-color: #ff5f8f;
  color: #555;
}

.objeto-de-color-bordo {
  background-color: #7c1c19;
  color: #555;
  color: #ffffff;
}

/* SECCIÓN DE IMAGENES CON BOTÓN DE CATÁLOGO */
.carouselPrincipalContainer {
  display: flex;
  z-index: 2;
}

.carousel {
  width: 100%;
  height: auto;
  z-index: 0;
}
.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.container-content {
  width: 50%;
  height: 600px;
}
.container-content-catalogo img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.6;
  box-shadow: 3px 3px 3px 3px #c02924;
}
.container-content-catalogo button {
  position: relative;
  left: 300px;
  bottom: 300px;
  transition: 0.3s;
}
.container-content-catalogo button:hover {
  transform: scale(1.1);
}

/* SECCIÓN DE TRES CARACTERÍSTICAS */
.caracteristica {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.caracteristica h3 {
  color: #f1524d;
  text-shadow: 1px 1px 1px #000000;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
}
.caracteristica p {
  font-size: 20px;
  font-weight: bold;
}

/* SECCIÓN MULTIMEDIA */
.sectionMultimedia {
  padding: 20px;
  display: flex;
  text-align: center;
  gap: 50px;
}
.sectionMultimedia h3 {
  color: #3b2d27;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.sectionMultimedia .containerSpotify, .sectionMultimedia .containerYoutube {
  width: 50%;
}
.sectionMultimedia iframe {
  width: 50%;
  height: 400px;
}

/* PAGINA PRODUCTOS */
#galeria {
  padding-top: 80px;
}
#galeria h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
#galeria p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 20px;
}
#galeria img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: 0.1s;
}
#galeria img:hover {
  border: 5px solid #ff5f8f;
  cursor: pointer;
}

/* PAGINA PROMOCIONES */
.bodyWallpaper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.637)), url(/img/vintage8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wallpaperPromociones {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container-cards-promos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}
.container-cards-promos img {
  height: 400px;
  padding: 5px;
  border-radius: 10px;
}
.container-cards-promos p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #7c1c19;
  font-style: italic;
}
.container-cards-promos button {
  width: 100px;
  align-self: center;
  margin-bottom: 10px;
  animation-name: oferta;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
}

@keyframes oferta {
  0% {
    transform: scale(0);
    border: none;
  }
  25% {
    transform: scale(1.1);
    font-weight: bold;
    border: none;
  }
  50% {
    transform: scale(1.1);
    background-color: #d9ff00;
    color: black;
    font-weight: bold;
    border: none;
  }
  75% {
    transform: scale(1.1);
    font-weight: bold;
    border: none;
  }
  100% {
    transform: scale(0);
    border: none;
  }
}
.wallpaperPromociones {
  display: flex;
  padding-top: 150px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.tituloPromociones h2 {
  font-size: 40px;
  color: #ffd2d2;
  font-weight: bold;
}

.tituloPromociones h3 {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
  font-style: italic;
}

/* PAGINA NOSOTROS */
.wallpaperNosotros {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wallpaperNosotros h2 {
  padding-top: 120px;
  color: #000000;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.wallpaperNosotros p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.wallpaperNosotros .imagenesNosotros {
  width: 100%;
  height: 500px;
  display: flex;
  margin-left: 300px;
}
.wallpaperNosotros .imagenesNosotros img {
  margin-left: 50px;
  margin-bottom: 50px;
}

/* PAGINA CONTACTANOS */
.bodyWallpaperContact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.637)), url(img/aestethic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title_contactanos h2 {
  color: #fff;
  padding-top: 120px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.contenedor_atencionAlCliente {
  text-align: center;
}
.contenedor_atencionAlCliente h3 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.contenedor_atencionAlCliente p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.contenedor_atencionAlCliente strong {
  color: #ff9d9d;
}

.container-form {
  color: #ffffff;
  padding-top: 50px;
  text-align: center;
}

.form-content h2 {
  font-weight: bold;
}

.container-fluid {
  padding: 0;
}

.container-gridsys section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-gridsys h2 {
  padding-top: 120px;
  font-weight: bold;
  color: #7c1c19;
}

/* PAGINA CATALOGO */
.container-gridsys section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-gridsys h2 {
  padding-top: 120px;
  font-weight: bold;
  color: #7c1c19;
}

.buttonCatalogo {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 2px;
  background-color: burlywood;
  bottom: 75px;
  left: 25px;
  transition: all 0.3s;
  font-weight: bold;
}

.buttonCatalogo:hover {
  background-color: #9e3f3b;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px 10px #ffffff;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.mx-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.mx-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.mx-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.px-6 {
  padding-left: 60px;
  padding-right: 60px;
}

.mx-6 {
  margin-left: 60px;
  margin-right: 60px;
}

.px-7 {
  padding-left: 70px;
  padding-right: 70px;
}

.mx-7 {
  margin-left: 70px;
  margin-right: 70px;
}

.px-8 {
  padding-left: 80px;
  padding-right: 80px;
}

.mx-8 {
  margin-left: 80px;
  margin-right: 80px;
}

.px-9 {
  padding-left: 90px;
  padding-right: 90px;
}

.mx-9 {
  margin-left: 90px;
  margin-right: 90px;
}

.px-10 {
  padding-left: 100px;
  padding-right: 100px;
}

.mx-10 {
  margin-left: 100px;
  margin-right: 100px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.objeto-de-color-naranja {
  background-color: #ffac7c;
}

.objeto-de-color-rosa {
  background-color: #ff5f8f;
}

.objeto-de-color-bordo {
  background-color: #7c1c19;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  /* RESPONSIVE INDEX */
  nav {
    width: 100%;
  }
  nav .container-fluid img {
    /*
    position: relative;
    left: 300px;
    bottom: 30px;*/
    width: 100%;
    position: relative;
    left: 200%;
    bottom: 30px;
  }
  nav .navbar-collapse {
    position: relative;
    bottom: 45px;
  }
  .carouselPrincipalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel {
    align-self: center;
  }
  .carousel-control-next-icon {
    z-index: 1;
  }
  .container-content-catalogo button {
    position: relative;
    left: 110px;
  }
  .sectionCaracter {
    flex-direction: column;
  }
  .sectionCaracter .caracteristica {
    padding-top: 20px;
  }
  .sectionMultimedia {
    flex-direction: column;
    align-items: center;
  }
  /* RESPONSIVE PRODUCTOS */
  /* RESPONSIVE PROMOCIONES */
}
@media (max-width: 768px) and (max-width: 568px) {
  .sectionMultimedia iframe {
    width: 350px;
    height: 250px;
  }
  nav {
    width: 100%;
  }
  nav .container-fluid img {
    position: relative;
    left: 140%;
    bottom: 30px;
  }
  .container-content {
    display: block;
    width: 100%;
  }
  .container-content img {
    width: 270px;
    height: 100%;
  }
  .container-content button {
    position: relative;
    top: -100px;
    left: 100px;
  }
  .sectionCaracter {
    margin-top: -280px;
  }
  /* PAGINA NOSOTROS */
  .wallpaperNosotros {
    position: relative;
    top: 50px;
  }
  /* PAGINA CONTACTANOS */
  .title_contactanos {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  #galeria {
    padding-top: 120px;
  }
  footer {
    width: 100%;
  }
  .wallpaperPromociones {
    display: flex;
    text-align: center;
    position: relative;
    top: 15px;
  }
  .container-cards-promos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 391px) {
  /* RESPONSIVE INDEX */
  nav {
    width: 100%;
  }
  nav .container-fluid img {
    position: relative;
    left: 100px;
    bottom: 30px;
  }
  nav .navbar-collapse {
    position: relative;
    bottom: 45px;
  }
  .carouselPrincipalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .carousel {
    align-self: center;
  }
  .carousel img {
    width: 100% !important;
  }
  .container-content {
    position: absolute;
  }
  .container-content img {
    display: none;
  }
  .container-content button {
    background-color: rgb(200, 255, 0);
    width: 70px;
    height: 30px;
    position: fixed;
    top: 350px;
    left: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border: none;
  }
  .sectionCaracter {
    margin-top: 0;
  }
  .sectionMultimedia {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .sectionMultimedia iframe {
    width: 100%;
    height: auto;
  }
  /* RESPONSIVE PROMOCIONES */
  .wallpaperPromociones {
    display: flex;
    text-align: center;
    position: relative;
    top: 15px;
  }
  .container-cards-promos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* PAGINA NOSOTROS */
  .wallpaperNosotros {
    position: relative;
    top: 50px;
  }
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
