
/* RESET */

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


body {
    background-color: #FFE7C1;

}
/*
header {
    width: 80%;
    height: 80px;
    padding: 25px;
    /*margin: 15px;*
}*/

header nav .container-fluid img {
    width: 150px;
    height: auto;
}

/*
.logoPrincipal {
    width: 200px;
    height: auto;
    position: relative;
    right: 50px;
    bottom: 60px;
    
}

.textoTitulo {
    font-family: 'Staatliches', sans-serif;
    font-size: 35px;
    position: absolute;
    left: 15%;
    top: 60px;
    margin: 0;
    color: #c02924;
    font-style: italic;
    text-shadow: 2PX;
}*/

/*
.navbar {
    position: relative;
    left: 60%;
    bottom: 192px;
    padding: 20px;
    letter-spacing: 2px;
}

.navbar a {
    position: relative;
    right: 180px;

    padding-right: 30px;

    font-family: 'Staatliches', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    color: #c02924;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}

.navbar a:hover {
    cursor: pointer;
    color: tomato;
    text-shadow: 2px 2px 2px #000000;
}




.navbar {
    width: 100%;
    height: auto;
    position: relative;
    justify-content: end;
    bottom: 90px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    /*
    flex-direction: row;
    align-items: center;
    justify-content: space-between;*
} 

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin: 20px 20px;
    position: relative;
    bottom: 150px;
    
    margin-bottom: -2px;
   /* border-bottom: 2px solid #220574; 


.navbar ul li:hover {
    transform: scale(1.1);
    margin-bottom: -2px;
    border-bottom: 2px solid rgba(245, 191, 42, 0);
    transition: .5s;
    
}

.navbar ul li a {
    font-family: 'Staatliches', sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    color: #c02924;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}

.navbar ul li a::before {
    content: "";
    height: 3px;
    width: 0;
    background: #c02924;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li a:hover::before {
    width: 100%;
}

.navbar ul li a:hover {
    color: coral;
} */

/* FOOTER */


/*
footer i {
    font-size: 50px;
    margin-left: 300px;
    margin-top: 80px;
    transition: .3s;
}

footer i:hover {
    transform: scale(.8);
    color: #c02924;
    cursor: pointer;
}

footer h3 {
    text-align: center;
    padding-top: 40px;
    font-style: italic;
} */

nav {
    width: 100%;
    height: 50px;
    position: fixed !important;
    z-index: 1;
}

.navbar .navbar-collapse {
    justify-content: space-evenly;
}

.navbar a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .1s;
    margin-right: 55px;
    position: relative;
    top: 30px;
}

.navbar a:hover {
    text-decoration: #c02924 overline;
    /* transform: scale(1.1); */
    color: #000000;
}

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

  .form-container, .social-media-container {
    flex: 1;
    margin-right: 10px;
}
  
h3 {
    margin-bottom: 10px;
}
  
form {
    display: flex;
    margin-bottom: 10px;
}
  
input[type="email"] {
    padding: 5px;
    margin-right: 5px;
    flex: 1;
}
  
button[type="submit"] {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
.social-media-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
  
.social-media-links li {
    margin-right: 10px;
}
  
.social-media-links a {
    color: #fff;
    font-size: 20px;
}
  
.social-media-links a:hover {
    color: #aaa;
}
  

/* SECCIÓN DE IMAGENES CON BOTÓN DE CATÁLOGO */

/*
.imagenesFirstSection {
    display: flex;
    flex-direction: row;
    columns: 2;
    width: 100%;
    height: 300px;
}

.imagenesFirstSection .sectorCatalogo {
    width: 50%;
    height: 100%;
}

.imagenesFirstSection .sectorCatalogo img {
    width: 100%;
    height: 400px;

}


.imagenesFirstSection .segundaImagen {
    width: 50%;
   height: 400px;
} 

.imagenesFirstSection button {
    width: 140px;
    height: 40px;
    background-color: #c02924;
    border-radius: 12px;
    border-style: none;
    border: 2px solid white;

    color: white;
    font-family: 'Staatliches', sans-serif;
    cursor: pointer;
    position: relative;
    bottom: 215px;
    left: 40%;
}

.imagenesFirstSection button:hover {
    transform: scale(1.1);
    transition: .1s;
} */

.carouselPrincipalContainer {
    display: flex;
}

.carousel {
    width: 100%;
    height: auto;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.container-content {
    width: 50%;
    height: 600px;
}

.container-content-catalogo img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: .6;
    box-shadow: 3px 3px 3px 3px #c02924;
}

.container-content-catalogo button {
    position: relative;
    left: 300px;
    bottom: 300px;
    transition: .3s;
}

.container-content-catalogo button:hover {
    transform: scale(1.1);
}



/* SECCIÓN DE TRES CARACTERÍSTICAS */


.caracteristica {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.caracteristica h3 {
    color: #f1524d;
    text-shadow: 1px 1px 1px #000000;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
}

.caracteristica p {
    font-size: 20px;
    font-weight: bold;
}


/* SECCIÓN MULTIMEDIA */

.sectionMultimedia {
    padding: 20px;
    display: flex;
    text-align: center;
    background-color: #7c1c19;
    gap: 50px;
}

.sectionMultimedia h3 {
    color: rgb(255, 202, 183);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.sectionMultimedia .containerSpotify {
    width: 50%;
}

.sectionMultimedia .containerYoutube {
    width: 50%;
}

.sectionMultimedia iframe {
    width: 400px;
    height: 400px;
}



/* PAGINA PRODUCTOS */

/*
.focusProductos {
    border-bottom: 2px solid #2D3250;

}

.wallpaperProductos {
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
}

.wallpaperProductos .card {
    padding: 25px;
    width: 33%;
    height: 400px;
}

.wallpaperProductos .card h2 {
    text-align: center;
    color: coral;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.wallpaperProductos .card img {
    width: 350px;
    height: 300px;
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
} */

#galeria {
    padding-top: 80px;
}

#galeria h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

#galeria p {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 20px;
}

#galeria img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: .1s;
}

#galeria img:hover {
    border: 5px solid #ff5f8f;
    cursor: pointer;
}


/* PAGINA NOSOTROS */

.wallpaperNosotros {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallpaperNosotros h2 {
    padding-top: 120px;
    color: #000000;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.wallpaperNosotros p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.wallpaperNosotros .imagenesNosotros {
    width: 100%;
    height: 500px;
    display: flex;
    margin-left: 300px;
}
.wallpaperNosotros .imagenesNosotros img {
    margin-left: 50px;
    margin-bottom: 50px;
}

/* PAGINA PROMOCIONES */

.bodyWallpaper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.637)),  url(img/wallpaperPromociones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-cards-promos {
    display: flex;
    gap: 20px;
    padding: 10px;
    
}

.container-cards-promos img {
    height: 400px;
    padding: 5px;
    border-radius: 10px;
}

.container-cards-promos p {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #7c1c19;
    font-style: italic;
}

.container-cards-promos button {
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
}

.wallpaperPromociones {
    display: flex;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 10px;
}

/*
.tituloPromociones {
    padding-top: 150px;
    text-align: left;
} */

.tituloPromociones h2 {
    font-size: 40px;
    color: #ffd2d2;
    font-weight: bold;
}

.tituloPromociones h3 {
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    font-style: italic;
} 

.sectionCards {
    
    width: 700px;
    height: auto;
    display: flex;
    position: relative;
    bottom: 500px;
    border-radius: 50px;
}

.sectionCards .card {
    width: 50%;
    height: auto;
    text-align: center;
}

.sectionCards .card h3 {
    font-size: 20px;
    font-family: 'Staatliches', sans-serif;
    color: rgb(208, 255, 0);
    text-shadow: 2px 2px 2px #000000;
    padding-bottom: 12px;
}

.sectionCards .card img {
    width: 50%;
    height: auto;
    border-radius: 50px;
    transition: .4s;
}

.sectionCards .card img:hover {
    transform: scale(1.1);
    cursor: crosshair;
} 


/* PAGINA CONTACTANOS */

.bodyWallpaperContact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.637)), url(img/aestethic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title_contactanos h2 {
    color: #fff;
    padding-top: 120px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}   


.contenedor_atencionAlCliente {
    text-align: center;
}

.contenedor_atencionAlCliente h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

}

.contenedor_atencionAlCliente p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.contenedor_atencionAlCliente strong {
    color: #ff9d9d;
}

.container-form {
    color: #ffffff;
    padding-top: 50px;
    text-align: center;
}

.form-content h2 {
    font-weight: bold;
}


/*
.container {
    margin-top: 100px;
    padding-bottom: 10px;
    color: #c02924;
    text-align: center;
} */



@media (max-width:768px) {

    /* RESPONSIVE INDEX */

    nav .container-fluid img {
        /*
        position: relative;
        left: 300px;
        bottom: 30px;*/ 
        width: 100%;
        
        position: relative;
        left: 200%;
        bottom: 30px;
    }

    .carouselPrincipalContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        }
    
    .carousel {
        align-self: center;
        }

    .container-content {
        display: none;
    }

    .sectionCaracter {
        flex-direction: column;
    }

    .sectionCaracter .caracteristica {
        padding-top: 20px;
    }


    .sectionMultimedia {
        flex-direction: column;
        align-items: center;
    }
    
    
    /* RESPONSIVE PRODUCTOS */

    #galeria {
        padding-top: 120px;
    }
}

@media (max-width:390px) {

    /* RESPONSIVE INDEX */

    nav .container-fluid img {
        position: relative;
        left: 100px;
        bottom: 30px;
    }

    .carouselPrincipalContainer {
        width: 100%;
        display: flex;

        }
    
    .carousel {
        align-self: center;
        }

    .carousel img {
        width: 100% !important;
    }

    .container-content {
        display: none;
    }

    .sectionMultimedia {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .sectionMultimedia iframe {
        width: 100%;
        height: auto;
    }
    /* RESPONSIVE PRODUCTOS */

}
